<div class="epl-comments">
	<div>
		<div class="epl-userPicture">
			<img ng-src="{{loggedUser.imageUrl}}" class="img-circle" alt="User Image"/>
		</div>
		<textarea class="epl-textarea" 
			placeholder="Write comments..."
			rows="2" cols="70" 
			ng-focus="vm.comment.focusOnNewComment()"
			ng-change="vm.comment.userTypeNewComment(vm.newComment)"
			ng-model="vm.newComment"></textarea>
	</div>
	<div ng-show="vm.comment.isShowPostCmntBtn()">
		<span 
			class="epl-remainingchar {{vm.comment.getRemainingChars() < 0 ?'has-error':''}}">
			{{vm.comment.getRemainingChars()}}
		</span>
		<button type="button" class="btn btn-primary btn-sm"
			ng-disabled="vm.comment.getRemainingChars() < 0 || 
				(vm.newComment == null || vm.newComment.length == 0)"
			ng-click="vm.comment.postNewComment()">
			Post
		</button>
	</div>
<div>