.classpath
.project
.settings/
target/
src/main/webapp/bower_components/*
client/bower_components/*
client/webapp/eplweb_components/css/eplweb.css
client/webapp/eplweb_components/js/eplweb.js
client/webapp/eplweb_components/js/vendors.js
