.classpath
.project
.settings/
target/
client/webapp/eplweb_components/fonts/
client/bower_components/*
client/webapp/eplweb_components/css/eplweb.css
client/webapp/eplweb_components/js/eplweb.js
client/webapp/eplweb_components/js/vendors.js
