<!-- Page Heading -->
<div class='row'>
    <div class='col-lg-12'>
        <h1 class='page-header title'>
                Tables
            <small></small>
        </h1>

        <div class='ind-ttw-container'>
            <div class='input-group season'>
                <div class='input-group-btn'>
                    <div type='button' class='btn btn-default'>Season : </div>
                </div>
                <input type='text' class='form-control input-season' value='2014-2015' disabled=''>
            </div>

            <div class='input-group week'>
                <div class='input-group-btn'>
                    <div type='button' class='btn btn-default'>Week : </div>
                    <button type='button' 
                        class='btn btn-default dropdown-toggle' 
                        data-toggle='dropdown' 
                        aria-expanded='false'>
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu' role='menu'>
                        <li data-ng-repeat='w in vm.weeks'>
                            <a ng-click='vm.changeWeek(w.weekNumber)' class='cursorPointer'>{{w.dateView}}</a>
                        </li>
                    </ul>
                </div>
                <input type='text' class='form-control input-week' 
                    value='#23 - 2015, 7 Jan' disabled=''>
                <div type='button' class='btn btn-default' ng-disabled='vm.prevRankDisable'
                    ng-click='vm.changeWeek(vm.currWeek - 1)'>
                    <span class='glyphicon glyphicon-step-backward' 
                        aria-hidden='true'>
                    </span>
                </div>
                <div type='button' class='btn btn-default' ng-disabled='vm.nextRankDisable'
                    ng-click='vm.changeWeek(vm.currWeek + 1)'>
                    <span class='glyphicon glyphicon-step-forward' 
                        aria-hidden='true'>
                    </span>
                </div>
            </div>
        </div>

        <div class='clearfix'></div>


    </div>
</div>
<!-- /.row -->

<!-- Project One -->
<div class='row'>
    <div class='col-md-7'>
        <table class='table table-striped table-bordered table-hover ind-table' id='dataTables-example'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                <tr class='odd gradeX' data-ng-repeat='r in vm.ranks'>
                    <td>{{$index + 1}}</td>
                    <td>
                        <img class='image rightTeamLogo' alt='' 
                            ng-src='eplweb_components/image/logo/150x150/{{r.team.id}}.png' >
                        {{r.team.name}}
                    </td>
                    <td>{{r.gamesWon + r.gamesDrawn + r.gamesLost}}</td>
                    <td>{{r.gamesWon}}</td>
                    <td>{{r.gamesDrawn}}</td>
                    <td>{{r.gamesLost}}</td>
                    <td>{{r.goalsScored}} - {{r.goalsAgainst}}</td>
                    <td>{{r.points}}</td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class='col-md-5 ind-right-news'>
        <div class='date'>
            7 January 2015 at 21:56 GMT
        </div>
        <h4 class='title'>
            <a href='#'>
                Steven Gerrard: LA Galaxy move right time for Liverpool captain
            </a>
        </h4>
        <a href='#'>
            <img class='image' src='eplweb_components/image/news/gerrardc.jpg' alt=''>
        </a>
        Liverpool captain Steven Gerrard says it is the 'right time for a new challenge' as he confirms his move to Los Angeles Galaxy in the summer.
        The Reds midfielder, 34, added that the MLS club were 'aggressive' in pursuing him after he announced last week he was leaving Anfield at the end of the season.
    </div>

    <div class='col-md-5 ind-right-news'>
        <div class='date'>
            7 January 2015 at 21:56 GMT
        </div>
        <h4 class='title'>
            <a href='#'>
                Steven Gerrard: LA Galaxy move right time for Liverpool captain
            </a>
        </h4>
        <a href='#'>
            <img class='image' src='eplweb_components/image/news/gerrardc.jpg' alt=''>
        </a>
        Liverpool captain Steven Gerrard says it is the 'right time for a new challenge' as he confirms his move to Los Angeles Galaxy in the summer.
        The Reds midfielder, 34, added that the MLS club were 'aggressive' in pursuing him after he announced last week he was leaving Anfield at the end of the season.
    </div>

    <div class='col-md-5 ind-right-news'>
        <div class='date'>
            7 January 2015 at 21:56 GMT
        </div>
        <h4 class='title'>
            <a href='#'>
                Steven Gerrard: LA Galaxy move right time for Liverpool captain
            </a>
        </h4>
        <a href='#'>
            <img class='image' src='eplweb_components/image/news/gerrardc.jpg' alt=''>
        </a>
        Liverpool captain Steven Gerrard says it is the 'right time for a new challenge' as he confirms his move to Los Angeles Galaxy in the summer.
        The Reds midfielder, 34, added that the MLS club were 'aggressive' in pursuing him after he announced last week he was leaving Anfield at the end of the season.
    </div>


</div>
<!-- /.row -->