.page-header
{
	margin: 0px;
}
.title a
{
	color: green;
}

.ind-right-news .image
{
	max-height: 150px;
	max-width: 150px;
	float: left;
	padding-right: 10px;
}

.ind-right-news .date
{
	padding-top: 5px;
}

.ind-table
{
    border:1px solid #CCC;
    border-collapse:collapse;
}

.ind-table .rightTeam
{
	text-align: right;
}

.ind-table .versus
{
	text-align: center;
}

.ind-table .rightTeamLogo,
.ind-table .leftTeamLogo
{
	width: 20px;
}

.ind-table .rightTeamLogo img,
.ind-table .leftTeamLogo img
{
	max-width: 20px;
	max-height: 20px;
}

.ind-table tbody tr td
{
	border:none;
}

.ind-ttw-container
{
	padding-top: 15px;
	margin-bottom: 20px;
}
.ind-ttw-container .input-season,
.ind-ttw-container .input-week
{
	width: 100px;
}

.ind-ttw-container .season
{
	float: left;
	width: 250px;
}

.teamofweek{font-size:11px;}
.teamofweek .team-wrapper{background:url("../image/teamofweek.png") no-repeat;position:relative;height:413px;width:710px;}
.teamofweek .team-wrapper img{max-width:50px;}
.teamofweek .team-wrapper p{background-color:#19803F;color:#fff;font-size:11px;font-weight:bold;line-height:12px;padding:0 2px;text-align:center;}
.teamofweek .rows_1,.teamofweek .rows_2,.teamofweek .rows_3,.teamofweek .rows_4,.teamofweek .rows_5{display:block;clear:both;position:relative;overflow:visible;height:105px;}
.teamofweek .rows_5 div{margin-left:49px;top:-15px;width:80px;display:inline-block;position:relative;text-align:center;vertical-align:top;}
.teamofweek .rows_4 div{margin-left:77px;top:-15px;width:80px;display:inline-block;position:relative;text-align:center;vertical-align:top;}
.teamofweek .rows_3 div{margin-left:115px;top:-15px;width:80px;display:inline-block;position:relative;text-align:center;vertical-align:top;}
.teamofweek .rows_2 div{margin-left:185px;top:-15px;width:80px;display:inline-block;position:relative;text-align:center;vertical-align:top;}
.teamofweek .rows_1 div{margin-left:310px;top:-15px;width:80px;display:inline-block;position:relative;text-align:center;vertical-align:top;}